// Background color
.bgc-primary                  {   background-color: $primary !important;        }
.bgc-primary-light            {   background-color: $primary-light !important;  }
.bgc-primary-dark             {   background-color: $primary-dark !important;   }
.bgc-accent                   {   background-color: $accent !important;         }
.bgc-accent-light             {   background-color: $accent-light !important;   }
.bgc-accent-dark              {   background-color: $accent-dark !important;    }

// Text colors
.tc-primary                   {   color: $primary !important;         }
.tc-primay-light              {   color: $primary-light !important;   }
.tc-primary-dark              {   color: $primary-dark !important;    }
.tc-accent                    {   color: $accent !important;          }
.tc-accent-light              {   color: $accent-light !important;    }
.tc-accent-dark               {   color: $accent-dark !important;     }

