// FONT

// MARGINS

// COLORS
$primary:             $indigo-500 ;
$primary-light:       $indigo-300 ;
$primary-dark:        $indigo-700 ;
$accent:              $deep-orange-500 ;
$accent-light:        $deep-orange-300 ;
$accent-dark:         $deep-orange-700 ;


